* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sheared style  */
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.main-color {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  color: #ffffff;
  border: none;
  padding: 18px 35px;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.section-heading {
  max-width: 827px;
  text-align: center;
}
.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading > p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
/* main style  */
header {
  background-color: #fff8f3;
  padding-top: 50px;
  background: url(/images/developer.png), url(/images/header_bg.png), #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

nav {
  width: 59%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;
}

.menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  line-height: 25px;
  transition: all 0.3s ease-in-out;
}
.menu li a:hover {
  color: #fd6e0a;
}

#banner {
  margin: 47px 38px 0px 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner .banner-content {
  max-width: 585px;
}
#banner .banner-content h2 {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  color: #181818;
  font-weight: bold;
  font-size: 85px;
  margin-bottom: 20px;
}
#banner .banner-content p {
  color: #474747;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
#banner .banner-img img {
  max-width: 585px;
  vertical-align: middle;
}

#about {
  padding-top: 130px;
}
#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}
.about-container .about-info p {
  font-size: 20px;
  color: #757575;
  line-height: 30px;
}

.about-container .about-info h4 {
  font-size: 20px;
  font-weight: bold;
}
